<h1>Eternal Limit Bot</h1>

<%= form_for @batch do |f| %>
  <div>
    <%= f.label :count %>
    <%= f.number_field :count %>  
  </div>

  <div>
    <%= f.label :market %>
    <%= f.select :market, Market.available_markets %>    
  </div>

  <div>
    <%= f.label :order_type %>
    <%= f.select :order_type, [['Buy', 'buy'], ['Sell', 'sell']] %>
  </div>

  <div>
    <%= f.label :operation_type %>
    <%= f.select :operation_type, [['Limit', 'limit_order'], ['Market', 'market_order']] %>
  </div>

  <div>
    <%= f.label :percent %>
    <%= f.number_field :percent %>  
  </div>

  <div>
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <%= f.submit "create eternal limit orders" %>
<% end %>


<div class='orders'>
    <ul>
      <%= @my_orders.each do |o| %>
        <li class='order'><%= o.id %></li>
      <% end %>
    </ul>

</div>