<!DOCTYPE html>
<html>
  <head>
    <title>Coinfalcon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="notice">
      <%=h flash[:notice]%>
      <%=h flash[:error]%>
    </div>

    <%= yield %>
  </body>
</html>
