<!DOCTYPE html>
<html>
  <head>
    <title>Coinfalcon</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <section class="title">
      <h1>Eternal Limit Bot</h1>
    </section>
    <div class="notice">
      <%=h flash[:notice]%>
      <%=h flash[:error]%>
    </div>




    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
